body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ecf0f1;
    color: #2c3e50;
    padding: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #34495e;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:nth-child(even) {
    background-color: #bdc3c7;
}
